%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', chef_accounts_path, :class => "button" 
        = link_to 'Show', @chef_account, :class => "button"

%fieldset.fieldset/

%legend.legend Edit Chef Account

%table#tblform
  %tr
    %td= render 'form'
