---
http_interactions:
- request:
    method: get
    uri: http://agifog.dev/api/v1/compute/security_groups/search.json?contains=ruby%7Cjava
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"6744e96682abc568ca4b32db09fcabd2"'
    body:
      encoding: US-ASCII
      string: ! "[\n  {\n    \"ip_permissions\": [\n      {\n        \"groups\": [\n\n
        \       ],\n        \"ipRanges\": [\n          {\n            \"cidrIp\":
        \"0.0.0.0/0\"\n          }\n        ],\n        \"ipProtocol\": \"tcp\",\n
        \       \"fromPort\": 80,\n        \"toPort\": 80\n      },\n      {\n        \"groups\":
        [\n\n        ],\n        \"ipRanges\": [\n          {\n            \"cidrIp\":
        \"0.0.0.0/0\"\n          }\n        ],\n        \"ipProtocol\": \"tcp\",\n
        \       \"fromPort\": 443,\n        \"toPort\": 443\n      }\n    ],\n    \"ipPermissionsEgress\":
        [\n\n    ],\n    \"owner_id\": \"767904627276\",\n    \"group_id\": \"sg-3bdcc552\",\n
        \   \"name\": \"sds-sandbox-service001ruby\",\n    \"description\": \"sds-sandbox-service001ruby\"\n
        \ },\n  {\n    \"ip_permissions\": [\n      {\n        \"groups\": [\n\n        ],\n
        \       \"ipRanges\": [\n          {\n            \"cidrIp\": \"0.0.0.0/0\"\n
        \         }\n        ],\n        \"ipProtocol\": \"tcp\",\n        \"fromPort\":
        22,\n        \"toPort\": 22\n      },\n      {\n        \"groups\": [\n\n
        \       ],\n        \"ipRanges\": [\n          {\n            \"cidrIp\":
        \"0.0.0.0/0\"\n          }[...]
