---
http_interactions:
- request:
    method: get
    uri: http://agifog.dev/api/v1/rds/parameter_groups.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        { background-color: #fff; color: #333; }\n\n    body, p, ol, ul, td {\n      font-family:
        helvetica, verdana, arial, sans-serif;\n      font-size:   13px;\n      line-height:
        18px;\n    }\n\n    pre {\n      background-color: #eee;\n      padding: 10px;\n
        \     font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n    a { color:
        #000; }\n    a:visited { color: #666; }\n    a:hover { color: #fff; background-color:#000;
        }\n  </style>\n</head>\n<body>\n\n<h1>Routing Error</h1>\n<p><pre>No route
        matches [GET] &quot;/api/v1/rds/parameter_groups.json&quot;</pre></p>\n<p>\n
        \ Try running <code>rake routes</code> for more information on available routes.\n</p>\n\n</body>\n</html>\n"
  recorded_at: Fri, 02 Mar 2012 19:57:38 GMT
recorded_with: VCR 2.0.0.rc2
