---
http_interactions:
- request:
    method: get
    uri: http://agifog.dev/api/v1/rds/security_groups/invalid_sg.1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        { background-color: #fff; color: #333; }\n\n    body, p, ol, ul, td {\n      font-family:
        helvetica, verdana, arial, sans-serif;\n      font-size:   13px;\n      line-height:
        18px;\n    }\n\n    pre {\n      background-color: #eee;\n      padding: 10px;\n
        \     font-size: 11px;\n    }\n\n    a { color: #000; }\n    a:visited { color:
        #666; }\n    a:hover { color: #fff; background-color:#000; }\n  </style>\n</head>\n<body>\n\n<h1>Routing
        Error</h1>\n<p><pre>No route matches [GET] &quot;/api/v1/rds/security_groups/invalid_sg.1.json&quot;</pre></p>\n\n\n\n</body>\n</html>\n"
  recorded_at: Mon, 12 Mar 2012 15:09:22 GMT
- request:
    method: post
    uri: http://agifog.dev/api/v1/rds/security_groups.json
    body:
      encoding: US-ASCII
      string: ! '{"security_group":{"description":"generated by agi","id":"invalid_sg.1"}}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"errors":["InvalidParameterValue => DBSecurityGroupName can contain
        only ASCII letters and digits, spaces, underscores, and hyphens"]}'
  recorded_at: Mon, 12 Mar 2012 15:09:25 GMT
recorded_with: VCR 2.0.0.rc2
