%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Show', [@customizable, @customization], :class => "button" 
        = link_to 'Back', [@customizable, Customization], :class => "button"

%fieldset.fieldset/

%legend.legend Edit Customization

%table#tblform
  %tr
    %td= render 'form'
