%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', [@customizable, Customization], :class => "button" 

%fieldset.fieldset/

%legend.legend New Customization

%table#tblform
  %tr
    %td= render 'form'
