%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', admin_rds_security_groups_path, :class => "button"
        = link_to 'Show', [:admin, @security_group], :class => "button" 
        

%fieldset.fieldset/

%legend.legend Edit Security Group

%table#tblform
  %tr
    %td= render 'form'
