%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'RDS Security Groups', admin_rds_security_groups_path, :class => "button" 


%fieldset.fieldset/

%legend.legend New Security Group

%table#tblform
  %tr
    %td= render 'form'
