%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Show', [:admin, @server], :class => "button" 
        = link_to 'Rds Servers', [:admin, :rds_servers], :class => "button"

%fieldset.fieldset/

%legend.legend Edit Database Server

%table#tblform
  %tr
    %td= render 'form_edit'
