%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Rds Servers', [:admin, :rds_servers], :class => "button" 


%fieldset.fieldset/

%legend.legend New Database

%table#tblform
  %tr
    %td= render 'form'
