%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', customers_path, :class => "button" 
        = link_to 'Show', @customer, :class => "button"

%fieldset.fieldset/

%legend.legend Edit Customer

%table#tblform
  %tr
    %td= render 'form'
