%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', projects_path, :class => "button"
        = link_to 'Show', @project, :class => "button" 
        

%fieldset.fieldset/

%legend.legend Edit Project

%table#tblform
  %tr
    %td= render 'form'
