%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button")
        = link_to 'New Project', new_project_path, :class => "button"

%fieldset.fieldset/

%legend.legend Project Listing

%table#tblmain
  %tr.trbg
    %td.fontbold Name
    %td.fontbold Name tag
    %td.fontbold Platform
    %td.fontbold Homepage
    %td.fontbold Description
    %td.fontbold Repository
    

  - @projects.each do |project|
  
    %tr.trstripe
      %td=link_to project.name, project
      %td=project.name_tag
      %td=project.platform
      %td=project.homepage
      %td=project.description
      %td=project.repository


