%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', projects_path, :class => "button" 


%fieldset.fieldset/

%legend.legend New Project

%table#tblform
  %tr
    %td= render 'form'
