%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button") 


%fieldset.fieldset/

%legend.legend New App

%table#tblform
  %tr
    %td= render 'form'
