%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Show', @database, :class => "button" 
        = link_to 'Back', databases_path, :class => "button"

%fieldset.fieldset/

%legend.legend Edit Database Configuration

%table#tblform
  %tr
    %td= render 'form'
