
- if @restore_db_instance_from_db_snapshot
  - @title = "New database Configuration From a Snapshot"
  - @theform = render 'databases/snapshot'
- else
  - @title = "New database Configuration"
  - @theform = render 'databases/form'


%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Back', databases_path, :class => "button" 


%fieldset.fieldset/

%legend.legend= @title

%table#tblform
  %tr
    %td=@theform
