

- if @restore_db_instance_from_db_snapshot
  %h1 New database Configuration From a Snapshot
  = render 'databases/snapshot'
- else
  %h1 New database Configuration
  = render 'databases/form'

= link_to 'Back', databases_path