
<div id="header">
    <div id="header_top">
      <div id="container_menu"  >
    	  <%= render 'navigation' %>
      </div>
      <div class="topLogo">
        <img alt="Agi_logo_top" height="59" src="/assets/AGI_LOGO_TOP.png" width="242" />
      </div>
      <div id="container_right_menu" class="topNav">
          <!-- <b>Logged in as:</b> <%= session[:cas_user] %> -->
      </div>
    </div>
  </div>
  
<div id="header3">
 <!-- <h1 style="color: #999999; ">Agi </h1> -->
<!-- To create or update the current Columbo output of a project, please contact the DevOps team at <a href="mailto:devops@mdsol.com?subject=I need help with Columbo Portal">devops@mdsol.com</a>.
<br/> -->
<!-- <% if alert %>
	<p id="alert" class="alert"><%= alert %></p>
<% end %> -->
 <%- flash.each do |name, msg| -%>
     <%= content_tag :p, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
 <%- end -%>


</div>
  